<h5 class="text-center">Users</h5>
<hr><br>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Username</th>
      <th>Email</th>
      <th class="text-center">Reviews</th>
      <th class="text-center">Ratings</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="align-middle"><%= user.id %></td>
        <td class="align-middle"><%= user.username %></td>
        <td class="align-middle"><%= user.email %> ...</td>
        <td class="align-middle text-center fw-bold"><%= user.reviews&.size || 0 %></td>
        <td class="align-middle text-center fw-bold"><%= user.ratings&.size || 0%></td>
        <td><%= link_to 'Show', user, class: 'btn btn-primary btn-sm'%></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-outline-warning btn-sm'%></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @users %>
  </div>
  <%= will_paginate @users, :container => false %>
</div>
