<%= render partial: 'cards/user_profile_card', locals: { user: @user }%>
<h5 class="text-center"><%= t('users.show.reviews') %></h5>
<hr><br>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= t('users.show.table.id') %></th>
      <th><%= t('users.show.table.title') %></th>
      <th><%= t('users.show.table.description') %></th>
      <th class="text-center"><%= t('users.show.table.author_rating') %></th>
      <th class="text-center"><%= t('users.show.table.users_rating') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td class="align-middle"><%= review.id %></td>
        <td class="align-middle"><%= review.name %></td>
        <td class="align-middle"><%= description_formatted review %> ...</td>
        <td class="align-middle text-center fw-bold"><%= review.author_rating %></td>
        <td class="align-middle text-center fw-bold"><%= review.average_users_rating %></td>
        <td><%= link_to t('card.show'), review, class: 'btn btn-primary btn-sm'%></td>
        <% if creator_permissions? review.user %>
          <td><%= link_to t('card.edit'), edit_review_path(review), class: 'btn btn-outline-warning btn-sm'%></td>
          <td><%= link_to t('card.destroy'), review, method: :delete, data: { confirm: t('card.confirm') }, class: 'btn btn-outline-danger btn-sm'%></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @reviews %>
  </div>
  <%= will_paginate @reviews, :container => false %>
</div>



