<h1 class="text-center">Home page</h1>
<h5>Last 5 reviews</h5>
<hr><br>
<div class="card-columns">
  <% @last_reviews.each do |review| %>
      <div class="card mb-5" style="width: 18rem;">
        <div class="row g-0 card-header">
          <div class="col text-start"><%= review.group %></div>
          <div class="col text-end"><%= review.author_rating %> | <%= review.average_users_rating %></div>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center"><%= review.name %></h5>
          <hr>
          <p class="card-text"><%= description_formatted review %> ...</p>
          
        </div>
        <div class="card-footer">
          <%= link_to 'Show', review, class: 'btn btn-primary btn-sm'%>
          <% if review.user == current_user %>
            <div class="float-end">
              <%= link_to 'Edit', edit_review_path(review), class: 'btn btn-outline-warning btn-sm'%>
              <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm'%>
            </div>
          <% end %>
          <p class="card-text"><small class="text-muted">Last update at <%= distance_of_time_in_words_to_now(review.updated_at) %></small></p>
          <%= form_with(model: review) do |form| %>
            <div class="rating">
              <% (1..5).sort_by{|n| -n}.each do |rating| %>
                <% if (appreciated?(review)) %>
                  <label class="<%= 'filled' if current_rating(review) >= rating%>">★</label>
                <% else %>
                  <%= link_to '☆', add_user_rating_review_path(review.id, rating), method: :add_user_rating %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
<hr><br>
<h5>Top 5 from creators</h5>
<hr><br>
<div class="card-columns">
  <% @authors_top_reviews.each do |review| %>
      <div class="card mb-5" style="width: 18rem;">
        <div class="row g-0 card-header">
          <div class="col text-start"><%= review.group %></div>
          <div class="col text-end"><%= review.author_rating %> | <%= review.average_users_rating %></div>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center"><%= review.name %></h5>
          <hr>
          <p class="card-text"><%= description_formatted review %> ...</p>
          
        </div>
        <div class="card-footer">
          <%= link_to 'Show', review, class: 'btn btn-primary btn-sm'%>
          <% if review.user == current_user %>
            <div class="float-end">
              <%= link_to 'Edit', edit_review_path(review), class: 'btn btn-outline-warning btn-sm'%>
              <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm'%>
            </div>
          <% end %>
          <p class="card-text"><small class="text-muted">Last update at <%= distance_of_time_in_words_to_now(review.updated_at) %></small></p>
          <%= form_with(model: review) do |form| %>
            <div class="rating">
              <% (1..5).sort_by{|n| -n}.each do |rating| %>
                <% if (appreciated?(review)) %>
                  <label class="<%= 'filled' if current_rating(review) >= rating%>">★</label>
                <% else %>
                  <%= link_to '☆', add_user_rating_review_path(review.id, rating), method: :add_user_rating %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
<hr><br>
<h5>Top 5 popular reviews</h5>
<hr><br>
<div class="card-columns">
  <% @users_top_reviews.each do |review| %>
      <div class="card mb-5" style="width: 18rem;">
        <div class="row g-0 card-header">
          <div class="col text-start"><%= review.group %></div>
          <div class="col text-end"><%= review.author_rating %> | <%= review.average_users_rating %></div>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center"><%= review.name %></h5>
          <hr>
          <p class="card-text"><%= description_formatted review %> ...</p>
          
        </div>
        <div class="card-footer">
          <%= link_to 'Show', review, class: 'btn btn-primary btn-sm'%>
          <% if review.user == current_user %>
            <div class="float-end">
              <%= link_to 'Edit', edit_review_path(review), class: 'btn btn-outline-warning btn-sm'%>
              <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm'%>
            </div>
          <% end %>
          <p class="card-text"><small class="text-muted">Last update at <%= distance_of_time_in_words_to_now(review.updated_at) %></small></p>
          <%= form_with(model: review) do |form| %>
            <div class="rating">
              <% (1..5).sort_by{|n| -n}.each do |rating| %>
                <% if (appreciated?(review)) %>
                  <label class="<%= 'filled' if current_rating(review) >= rating%>">★</label>
                <% else %>
                  <%= link_to '☆', add_user_rating_review_path(review.id, rating), method: :add_user_rating %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
<hr><br>