<h1 class="text-center"><%= t('home.index.title') %></h1>
<h5><%= t('home.index.last_reviews') %></h5>
<hr><br>
<div class="card-columns">
  <% @last_reviews.each do |review| %>
      <div class="card mb-5">
        <div class="row g-0 card-header">
          <div class="col text-start"><%= review.group %></div>
          <div class="col text-end"><%= review.author_rating %> | <%= review.average_users_rating %></div>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center"><%= review.name %></h5>
          <hr>
          <p class="card-text"><%= description_formatted review %> ...</p>
          
        </div>
        <div class="card-footer">
          <%= link_to t('card.show'), review, class: 'btn btn-primary btn-sm'%>
          <% if creator_permissions?(review.user) %>
            <div class="float-end">
              <%= link_to t('card.edit'), edit_review_path(review), class: 'btn btn-outline-warning btn-sm'%>
              <%= link_to t('card.destroy'), review, method: :delete, data: { confirm: t('card.confirm') }, class: 'btn btn-outline-danger btn-sm'%>
            </div>
          <% end %>
          <p class="card-text"><small class="text-muted"><%= t('card.update_at') %> <%= distance_of_time_in_words_to_now(review.updated_at) %></small></p>
          <% if user_signed_in? %>
            <%= form_with(model: review) do |form| %>
              <div class="rating">
                <% (1..5).sort_by{|n| -n}.each do |rating| %>
                  <% if (appreciated?(review)) %>
                    <label class="<%= 'filled' if current_rating(review) >= rating%>">★</label>
                  <% else %>
                    <%= link_to '☆', add_user_rating_review_path(review.id, rating), method: :add_user_rating %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
<hr><br>
<h5><%= t('home.index.top_reviews_creators') %></h5>
<hr><br>
<div class="card-columns">
  <% @authors_top_reviews.each do |review| %>
      <div class="card mb-5">
        <div class="row g-0 card-header">
          <div class="col text-start"><%= review.group %></div>
          <div class="col text-end"><%= review.author_rating %> | <%= review.average_users_rating %></div>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center"><%= review.name %></h5>
          <hr>
          <p class="card-text"><%= description_formatted review %> ...</p>
          
        </div>
        <div class="card-footer">
          <%= link_to t('card.show'), review, class: 'btn btn-primary btn-sm'%>
          <% if creator_permissions?(review.user) %>
            <div class="float-end">
              <%= link_to t('card.edit'), edit_review_path(review), class: 'btn btn-outline-warning btn-sm'%>
              <%= link_to t('card.destroy'), review, method: :delete, data: { confirm: t('card.confirm') }, class: 'btn btn-outline-danger btn-sm'%>
            </div>
          <% end %>
          <p class="card-text"><small class="text-muted"><%= t('card.update_at') %> <%= distance_of_time_in_words_to_now(review.updated_at) %></small></p>
          <% if user_signed_in? %>
            <%= form_with(model: review) do |form| %>
              <div class="rating">
                <% (1..5).sort_by{|n| -n}.each do |rating| %>
                  <% if (appreciated?(review)) %>
                    <label class="<%= 'filled' if current_rating(review) >= rating%>">★</label>
                  <% else %>
                    <%= link_to '☆', add_user_rating_review_path(review.id, rating), method: :add_user_rating %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
<hr><br>
<h5><%= t('home.index.top_reviews_users') %></h5>
<hr><br>
<div class="card-columns">
  <% @users_top_reviews.each do |review| %>
      <div class="card mb-5">
        <div class="row g-0 card-header">
          <div class="col text-start"><%= review.group %></div>
          <div class="col text-end"><%= review.author_rating %> | <%= review.average_users_rating %></div>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center"><%= review.name %></h5>
          <hr>
          <p class="card-text"><%= description_formatted review %> ...</p>
          
        </div>
        <div class="card-footer">
          <%= link_to t('card.show'), review, class: 'btn btn-primary btn-sm'%>
          <% if creator_permissions?(review.user) %>
            <div class="float-end">
              <%= link_to t('card.edit'), edit_review_path(review), class: 'btn btn-outline-warning btn-sm'%>
              <%= link_to t('card.destroy'), review, method: :delete, data: { confirm: t('card.confirm') }, class: 'btn btn-outline-danger btn-sm'%>
            </div>
          <% end %>
          <p class="card-text"><small class="text-muted"><%= t('card.update_at') %> <%= distance_of_time_in_words_to_now(review.updated_at) %></small></p>
          <% if user_signed_in? %>
            <%= form_with(model: review) do |form| %>
              <div class="rating">
                <% (1..5).sort_by{|n| -n}.each do |rating| %>
                  <% if (appreciated?(review)) %>
                    <label class="<%= 'filled' if current_rating(review) >= rating%>">★</label>
                  <% else %>
                    <%= link_to '☆', add_user_rating_review_path(review.id, rating), method: :add_user_rating %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
<hr><br>