<h1 class="text-center"><%= t('reviews.title') %></h1>
<% if user_signed_in? %>
  <div class="d-flex justify-content-end">
    <%= link_to t('reviews.new_review'), new_review_path, class: 'btn btn-success btn-sm'%>
  </div>
<% end %>
<hr><br>
<div class="card-columns mx-auto">
  <% @reviews.each do |review| %>
    <%= render partial: 'cards/review_card', locals: { review: review }%>
  <% end %>
</div>
<br>
<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @reviews %>
  </div>
  <%= will_paginate @reviews, :container => false %>
</div>
<br><br><hr><br><br>

