<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @review.name %>
</p>

<p>
  <strong>Group:</strong>
  <%= @review.group %>
</p>

<p>
  <strong>Dscription:</strong>
  <%= @review.description %>
</p>

<p>
  <strong>Author rating:</strong>
  <%= @review.author_rating %>
</p>

<p>
  <strong>User rating:</strong>
  <%= @review.average_users_rating %>
</p>

<p>
  <strong>Content:</strong>
  <%= @review.content %>
</p>

<% if @review.user == current_user %>
  <%= link_to 'Edit', edit_review_path(@review) %> |
<% end %>
<%= link_to 'Back', reviews_path %>
