<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @review.name %>
</p>

<p>
  <strong>Group:</strong>
  <%= @review.group %>
</p>

<p>
  <strong>Dscription:</strong>
  <%= @review.description %>
</p>

<p>
  <strong>Author rating:</strong>
  <%= @review.author_rating %>
</p>

<p>
  <strong>User rating:</strong>
  <%= average_users_rating @review %>
</p>

<p>
  <strong>Content:</strong>
  <%= @review.content %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
