<!DOCTYPE html>
<html>
  <head>
    <title>Rubyoverview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container-fluid">
        <%= link_to 'RubyOver', root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to t('navbar.nav_item.home'), root_path, class: "nav-link" + (current_page?(root_path) ? " active" : "") %>
            </li>
            <li class="nav-item">
              <%= link_to t('navbar.nav_item.reviews'), reviews_path, class: "nav-link" + (current_page?(reviews_path) ? " active" : "") %>
            </li>
            <% if user_signed_in? && current_user.admin? %>
              <%= link_to t('navbar.nav_item.users'), users_path, class: "nav-link" + (current_page?(users_path) ? " active" : "") %>
            <% end %>
          </ul>
          <select class="form-select form-select-sm me-2" onchange="location = this.value;" aria-label=".form-select-sm example" style="width: 8rem;">
            <% { en: 'English', ru: 'Русский', be: 'Беларуская' }.each do |(locale, humanized_locale)| %>
              <option <%= 'selected'.html_safe if locale.to_s == current_locale.to_s %> value="<%= url_for(locale: locale) %>">
                <%= humanized_locale%>
              </option>
            <% end %>
          </select>
          <form class="d-flex" action="<%= search_path %>" method="<%= :get %>">
            <input class="form-control me-2" type="search" placeholder="<%= t('navbar.search_form.text_field') %>" aria-label="Search" name="<%= :term %>" id="<%= :term %>" value="<%= params[:term] %>">
            <button class="btn btn-outline-success me-5" type="submit"><%= t('navbar.search_form.search_button') %></button>
          </form>
          <div class="d-flex align-items-center">
            <% if user_signed_in? %>
              <%= link_to current_user.email, current_user, class: 'fs-5 me-1 text-dark text-decoration-none'%>
              <%= link_to t('navbar.auth.sign_out'), destroy_user_session_path, :method => :delete, class: 'btn btn-danger w-20' %>
            <% else %>
              <%= link_to t('navbar.auth.sign_in'), new_user_session_path, class: 'btn btn-success w-5 me-1' %> <div class="fs-6 me-1"><%= t('navbar.auth.or') %></div> <%= link_to t('navbar.auth.sign_up'), new_user_registration_path, class: 'btn btn-secondary w-5' %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>

    <div class="main-container">
      <%= yield %>
    </div>
  </body>
</html>